@{
    ViewData["Title"] = "Student";
}

<div class="text-center" ng-controller="Student.IndexController">
    <h1 class="display-4">Students </h1>
    <div class="form-actions no-color">
        <p>
            Find by name, phone:
            <input type="text" ng-model="searchString" />
            <input type="submit" ng-click="btnSearchClick()" class="btn btn-primary" /> 
        </p>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Enrollment Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in Students">
                <th><a href="./student/detail/{{student.id}}">{{student.id}}</a> </th>
                <td>{{student.fullName}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.enrollmentDate | date:'dd-MM-yyyy' }}</td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="totalRow" ng-model="currentPage" ng-change="pageChanged()"></ul>

</div>
